<section class="section section-login">
	<div class="valign-wrapper row login-box">
		<div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">

			<div class="card-content">
				<span class="card-title">Inicia sesión</span>
				<div class="row">
					<div class="input-field col s12">
						<label for="text">Email</label>
						<input type="text" class="validate" name="uid" id="userid" [(ngModel)]="user" />
					</div>
					<div class="input-field col s12">
						<label for="password">Contraseña</label>
						<input type="password" class="validate" name="pwd" id="password" [(ngModel)]="password" />
					</div>
				</div>
			</div>
			<div class="card-action right-align">
				<input (click)="onClickEntrar()" type="submit" class="btn teal waves-effect waves-light" value="Entrar">
			</div>

		</div>
	</div>
</section>
