<nav class="red" role="navigation">

	<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Cardiología</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">HELP</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">HELP</a></li>
      </ul>
      <a data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	</div>


</nav>

<router-outlet></router-outlet>
